
{% load static %}
<title>Happy Birthday!</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="{% static 'js/javasp.js' %}"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{% static 'home/slide01.png' %}" style="width:100%">
    <div class="text">HAPPY</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="{% static 'home/slide02.jpg' %}" style="width:100%">
    <div class="text">BIRTHDAY</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="{% static 'home/slide03.jpg' %}" style="width:100%">
    <div class="text">CHITTU</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

  <div class="container">
					<hr>
					<h1>Hey Chittuuuuu!!</h1>
					<h4 style="text-align:center;">                                    I wish you well and happy life ahead.</h4>
            <h4 style="text-align:center;">                  i know you have gone through a lot in these past years and have learned many things </h4>
            <h4 style="text-align:center;">      so,keep learning and upgrade,i am sure u are gonna be a very good human being, enjoy and embrace every moment and i want you to be happy always. </h4>
            <h4 style="text-align:center;">  and you can count on me on anything i am gonna be there as a shoulder to share everything with </h4>
            <h4 style="text-align:center;">                             so, MAny more happy returns of the day...</h4>
            <h4 style="text-align:center;">                                        HAPPY BIRTHDAY MY DEAR.
        </p>
				</div>
			</div>
      <div class="container">
					
        <hr>
        <img id='left' class='favpics' src="{% static 'home/abirami.jpeg' %}" style="width:auto; height: auto; padding-left: -50%;">
          <h1>Yours Abikutty!</h1>
          <h4> Hey sittu. Unna pathi 4 varthai solla sonnanga. 
            But unna pathi solla yedhume ila nee oru "nadamadum mokkai joke kadai "😜. 4 varthai podhuma.
            Seri soldren kelu. Unna 1st yrla lam onnum palakam ila (apdiye irunthurukalam). 
            2nd yr la irunthu than theriyum . Rendu perum sera mukkiyama na karanam yennanu yosichu parthen. Appa than therinjidhu. Na oru ara loosu. Nee oru mukka loosu. Ipdi serntha nama ippo thick friends aagi mulu loosa maritom. Yellarum ore cup, plate, dress aah than pangu potupanga. Aana namba matum than namba loveraah(ASHWINEYYYYYYY) pangu potrukom. Idhula irunthe theriyuthu neeyum naanum onnu nambala pakuravan vaiyula mannu. Ipdilam punch pesavum karanam unkooda sernthu than. Sittu ipdiye iru yeppavum. feel panni M.... Ru maari aluthitu irukatha seriya. Neeyum naanum nalla ponnu than but nambala ipdi aakuna 2 jeevan 1.guru pannada 2.kavya don. Ivalunga than nambala keduthathe. So indha maari case aah namba avoid pannitu namba sighting velaiyai yenga irunthalum thodaruvom. Yenna irritate pandrathuna adhu needhan. Ippo idha type pannum pothe kannu kalanguthu. 
            (Yedho thoosi patrukum) miss you and your mokkais. Keep in touch. Sakkalathi ❤ . Love you more and tons 😍😘😍😘❤
          </h4>
       
         
          
      </div>
      
					 
            
		
		<br>

          <div class="container">
					
            <hr>
            <img id='left' class='favpics'src="{% static 'home/tamiluh.jpeg' %}" style="width:auto; height: auto; padding-left: 50%;">
            
              <h1>Yours Tamilarasi!</h1>
              <h4> Hi sittt..happyyy birthdayyyyyyy romba yosichi moolaiya kedthukatha kadasi naal yosicha mariii ,happy ah iru 🥳Vera ennatha solla  na kooptanu Ella edathuku enakku accompany ku vanthurka ❤️panatha chettaiye illa 😂inume  yenga ponalu thaniya pora sonna Tamil Vara nanu soluva thaniyaa povatha solli kavalapadra orey Jeevan 😂❤️ jolly yaar suthirkangaloo illayo nantha nerya Edam suthirka unkooda 😂💯porukatha edame illa namma rendu perum 😂💯juice kadai,tea kadai,beach uh,park uh etc.memories athigam😂. sight adikrathulayu 😒sandaii veraaa nerya funzz irku soltey polam 😂note panika nantha un clg lyflaye nerya oor  suthirka unkooda 😂😂😂 .let us remain the same shits together for a long time .....💯❤️😂💩💕</h4>
             
              
          </div>
       
					<div class="container">
					
            <hr>
            <img class='favpics'src="{% static 'home/nikita.jpeg' %}" style="width:auto; height: auto; padding-left: -50%;">
            <div>
              <h1>Yours Bestie!</h1>
              <h4> Hi sornalatha....Neethan en aaya😂unta naa close aanathu hostel la...unga room ku adikadi vanthitu poven athula neraya memories iruku athu uncountable nu solalam❤️...namakula edaila ena sanda vanthalum...namala yaarum pirika mudiyathu🥰apro namma outhostel la than neraya njoy panome...green onion la tea kudikrathu...park la thandam ah exercise nu perula poe gossip pesrathu🤣nee naa sindhu(3 idiots)... Alruman namma fav shop😋...night scooty ride...atlast naa pogamba alamaten than nenchen...aana enaya ariyama aluthiten....really missing u☹️safe ah iru...mask potitu poo...have a great year ahead💯 HAPPY BIRTHDAY AAYA 🤮😍😘love u ummah💃</h4>
            </div>
				</div>
		
		<br>
		
		<h1>BEST WISHES LOVELY LADY!</h1>
		<br>
</div>





























 